[Desktop Entry]
Version=1.0
Terminal=false
Icon=/usr/share/pixmaps/icone_calc.ico
Type=Application
Categories=Office;
Exec=pjecalc-abrir
Name=PjeCalc
StartupNotify=true
X-GIO-NoFuse=true
